__pycache__/
*.py[codz]
*$py.class
*.ipynb_checkpoints/

.env
index_ipynb
archive/911_recordings
archive/tinyllm
archive/tinyllm-lora
archive/clean_audio

calls/generated_audio
calls/wav_output
calls/convert.py
calls/try.py

try.py
wav_folder
999/
911_recordings/
output

*.log
fine_tuned_bert_role_classifier
granite_model_local
logs
.sh
nltk_data
mlruns

tinyllm/tinyllm
tinyllm/tinyllm-lora
tinyllm/tinyllm-merged

nanogpt/data/calls/*

calls/best_gpt_model.pth
calls/bpe_tokenizer_v2.json
calls/gpt_model_checkpoint.pth
calls/input.txt

last_finetune.json