__pycache__/
*.py[codz]
*$py.class
*.ipynb_checkpoints/

.env
index_ipynb
archive/911_recordings
archive/tinyllama
archive/tinyllama-lora
archive/clean_audio

calls/generated_audio
calls/wav_output
calls/convert.py
calls/try.py

try.py
wav_folder
999/
911_recordings/


*.logs
logs

fine_tuned_bert_role_classifier
fine_tuned_emotion_cause_model
nltk_data
mlruns

tinylamma/tinyllm
tinylamma/tinyllm-lora
tinylamma/tinyllm-merged

nanogpt/data/calls/*
nanogpt/nanogpt/ckpt.pt
nanogpt/nanogpt/ckpt.pt

calls/best_gpt_model.pth
calls/bpe_tokenizer_v2.json
calls/gpt_model_checkpoint.pth
calls/input.txt

last_finetune.json
flag.txt
local_emotion_model
calls/dia
calls/gpt
calls/main
calls/clean_input.txt

custom_model/ckpt
nanogpt/nanogpt
nanogpt/nanogpt/ckpt.pt
