__pycache__/
*.py[codz]
*$py.class
*.ipynb_checkpoints/

.env
index_ipynb
archive/911_recordings
archive/tinyllm
archive/tinyllm-lora
archive/clean_audio

calls/generated_audio
calls/wav_output
calls/convert.py
calls/try.py
